---
---

<div class="card w-80 bg-base-300 lg:w-auto p-3 m-3" id="userProfileCard">
    <div class="pl-2 pb-2 font-semibold text-lg">Stats</div>
    <div class="overflow-x-auto">
        <table class="table table-compact table-zebra w-full">
            <!-- head -->
            <thead>
                <tr>
                    <th></th>
                    <th>Opponent</th>
                    <th>1</th>
                    <th>2</th>
                    <th>3</th>
                    <th>4</th>
                    <th>5</th>
                    <th>6</th>
                    <th>7</th>
                    <th>Outcome</th>
                </tr>
            </thead>
            <tbody>
                <!-- row 1 -->
                <tr>
                    <th></th>
                    <td>Cy Ganderton</td>
                    <td>11/3</td>
                    <td>11/7</td>
                    <td>5/11</td>
                    <td>11/9</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Win</td>
                </tr>
                <tr>
                    <th></th>
                    <td>Cy Ganderton</td>
                    <td>11/3</td>
                    <td>11/7</td>
                    <td>5/11</td>
                    <td>11/9</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Win</td>
                </tr>
                <tr>
                    <th></th>
                    <td>Cy Ganderton</td>
                    <td>11/3</td>
                    <td>11/7</td>
                    <td>5/11</td>
                    <td>11/9</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Win</td>
                </tr>
                <tr>
                    <th></th>
                    <td>Cy Ganderton</td>
                    <td>11/3</td>
                    <td>11/7</td>
                    <td>5/11</td>
                    <td>11/9</td>
                    <td>5/11</td>
                    <td>11/9</td>
                    <td>5/11</td>
                    <td>Win</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
