---
export interface Notification {
    notification: string;
    url: string;
}
export interface Props {
    notificationData: Notification;
}

const { notificationData } = Astro.props;

const notificationUrl = "location.href='" + notificationData.url + "';";
---

<div
    onclick={notificationUrl}
    class="toast toast-top toast-start z-50 top-7 hidden"
>
    <div class="alert alert-info">
        <div class="text-center font-semibold">
            <span>{notificationData.notification}</span>
        </div>
    </div>
</div>
