---
---

<section class="flex justify-center">
    <div class="form-control w-full max-w-xs">
        <label class="label">
            <span class="label-text">Email</span>
        </label>
        <input
            type="text"
            placeholder=""
            class="input input-bordered input-primary w-full max-w-xs"
        />
        <label class="label"
            ><span class="label-text-alt"
                ><a class="text-accent-focus" href="/flow/login"
                    >Trying to login?</a
                >
            </span>
        </label>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</section>
