---
---

<!-- FORM TITLE -->
<div class="text-center pt-8">
    <h1 class="text-3xl font-bold">Forgot Password</h1>
    <p class="text-base pt-2 pb-4">Please enter your email.</p>
</div>
<!-- LOGIN FORM -->
<section class="flex justify-center">
    <div class="form-control w-screen max-w-xs">
        <label class="label">
            <span class="label-text">Email</span>
        </label>
        <input
            id="email"
            type="text"
            placeholder=""
            class="input input-bordered input-primary w-full max-w-xs"
        />
        <label class="label"
            ><span class="label-text-alt"
                ><a class="text-accent-focus" href="/flow/login"
                    >Trying to login?</a
                >
            </span>
        </label>
        <button id="submit" type="submit" class="btn btn-primary my-3"
            >Reset Password</button
        >
    </div>
</section>

<script>
    import { resetPassword } from "../auth/resetPassword";
    var btn = document.getElementById("submit");
    btn!.addEventListener("click", resetPasswordFunc);

    async function resetPasswordFunc() {
        var results = {
            email: (<HTMLInputElement>document.getElementById("email")).value,
        };
        var { data, error } = await resetPassword(results.email);

        //TODO replace alert with proper popup
        !error ? console.log("Reset password sent") : alert(error.message);
    }

    //TODO handle the URL on the homepage if it has type=recovery

    //http://localhost:3000/#access_token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhdWQiOiJhdXRoZW50aWNhdGVkIiwiZXhwIjoxNjYzNTU3MTYzLCJzdWIiOiI2YmRjMTQ5ZS1jNTU0LTRjZmMtYjNiNS01MWJkYWI0MDViNWQiLCJlbWFpbCI6ImpvaG5Aam9obmN3YXRlcnMuY29tIiwicGhvbmUiOiIiLCJhcHBfbWV0YWRhdGEiOnsicHJvdmlkZXIiOiJlbWFpbCIsInByb3ZpZGVycyI6WyJlbWFpbCJdfSwidXNlcl9tZXRhZGF0YSI6e30sInJvbGUiOiJhdXRoZW50aWNhdGVkIiwic2Vzc2lvbl9pZCI6ImFiOGU0NTBjLTM5YjItNDViNi1iOGUxLTk0MDIxMDFkZTBiOCJ9.y4DbdSoP1ov-dVpSL8_GMapwWx77lKpgPRyCsVagROw&expires_in=3600&refresh_token=-cLA859Z7qZvvMfDm5xbHg&token_type=bearer&type=recovery
</script>
