---
//check if user already exsists
//register new user
//confirm email
//redirect to home page (now logged in)
---

<!-- FORM TITLE -->
<div class="text-center pt-8">
    <h1 class="text-3xl font-bold">Register New Account</h1>
    <p class="text-base pt-2 pb-4">Please enter your details.</p>
</div>
<!-- REGISTRATION FORM -->
<form class="flex justify-center">
    <div class="form-control w-full max-w-xs">
        <label class="label">
            <span class="label-text">Full Name</span>
        </label>
        <input
            id="full_name"
            type="text"
            placeholder="John Doe"
            class="input input-bordered input-primary w-full max-w-xs"
        />
        <label class="label">
            <span class="label-text">Username</span>
        </label>
        <input
            id="username"
            type="text"
            placeholder=""
            class="input input-bordered input-primary w-full max-w-xs"
        />
        <label class="label">
            <span class="label-text">Email</span>
        </label>
        <input
            id="email"
            type="text"
            placeholder=""
            class="input input-bordered input-primary w-full max-w-xs"
        />
        <label class="label">
            <span class="label-text">Password</span>
        </label>
        <input
            id="password"
            type="text"
            placeholder=""
            class="input input-bordered input-primary w-full max-w-xs"
        />

        <button id="submit" type="submit" class="btn btn-primary mt-4"
            >Submit</button
        >
    </div>
</form>

<script>
    //ON SUBMIT:
    //Validate correct data was entered, if not, display error and helpers
    //If valid, submit to supabase
    //Grab session and redirect to successful sign-up screen to confirm email
    import { supabase } from "../auth/publicClient";
    var btn = document.getElementById("submit");
    btn!.addEventListener("click", func);

    function func() {
        var fullName = (<HTMLInputElement>document.getElementById("full_name"))
            .value;
        var username = (<HTMLInputElement>document.getElementById("username"))
            .value;
        var email = (<HTMLInputElement>document.getElementById("email")).value;
        var password = (<HTMLInputElement>document.getElementById("password"))
            .value;

        console.log(fullName, username, email, password);
    }
    async function signInWithEmail() {
        const { user, session, error } = await supabase.auth.signIn({
            email: "example@email.com",
            password: "example-password",
        });
        if (error) alert(error);

        console.log(user, session);
    }

    //Get Data on Submit
</script>
